/* styles/globals.css */
html, body {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-display: swap;
}
a {
  color: white;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
}

a:hover {
  color: #ffa500;
}